* {
  box-sizing: border-box;
  color: black;
  line-height: 1.75;
  padding: 0;
  margin: 0;
  width: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

header {
  align-items: flex-end;
  background-color: gold;
  display: flex;
  font-size: 2rem;
  height: 10vh;
  justify-content: space-between;
  padding: 1.5rem 3rem 1rem;
  width: 100vw;
}

h1 {
  margin-bottom: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

a {
  text-decoration: none;
  width: fit-content;
}

footer {
  background-color: black;
  height: 10vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 80vh;
  width: 100%;
}

.project-preview {
  box-shadow: 5px 5px 15px 5px #b5b5b5;
  width: 100%;
}

.project-previews {
  align-self: center;
  max-width: 1170px;
  width: 100%;
}

.project-previews div {
  height: 10rem;
}

@media screen and (min-width: 768px) {
  .project-previews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .project-previews {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ABOUT  */
.about {
  align-content: center;
}

.image {
  background-color: black;
  border: solid 1px black;
  height: 300px;
  margin-right: 3rem;
  width: 300px;
}

.personal-bio-container {
  align-items: center;
  background-color: grey;
  display: flex;
  height: 80vh;
  justify-content: center;
  padding: 3rem;
}

.personal-bio {
  display: flex;
  width: 50%;
}

.personal-bio p {
  align-self: center;
  width: 50%;
}

.dev-bio {
  align-items: center;
  background-color: gold;
  display: flex;
  height: fit-content;
  justify-content: center;
  padding: 5rem;
}

.dev-bio p {
  width: 50%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.skill-type {
  margin: 0.5rem 0;
  width: 50%;
}

.badge-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.tech-badge {
  background-color: grey;
  border-radius: 3px;
  height: fit-content;
  font-size: small;
  margin: 0.25rem;
  padding: 0.5rem;
  width: fit-content;
}

input,
textarea {
  padding: 0.5rem;
}

.project-info {
  display: flex;
}

.single-project-top {
  text-align: center;
}

.project-info-left {
  display: flex;
  flex-direction: column;
}
