@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@900&display=swap");
:root {
  --dark: #292929;
  --mid: #545454;
  --light: #737373;
  --color: #f6df2c;
  --header-font: "Roboto", sans-serif;
  --body-font: "Lato", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--body-font);
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  width: 100%;
  word-wrap: break-word;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

main {
  align-items: center;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  height: 85vh;
  line-height: 1.75rem;
  overflow: auto;
  scroll-behavior: smooth;
}

/* HEADER */
header {
  align-items: flex-end;
  background-color: var(--dark);
  display: flex;
  font-size: 1rem;
  height: 15vh;
  justify-content: space-between;
  padding: 1.5rem 3rem 1rem;
}

.header-logo {
  height: 100px;
  width: 100px;
}

h1,
h4 {
  color: var(--color);
  font-family: var(--header-font);
  margin-bottom: 1rem;
}

nav {
  display: flex;
  margin-bottom: 1rem;
  justify-content: flex-end;
  width: fit-content;
}

nav a {
  margin-right: 3rem;
  font-size: 2rem;
}

a {
  color: var(--color);
  font-family: var(--header-font);
  text-decoration: none;
  transition: 0.4s;
  width: fit-content;
}

a:hover {
  color: var(--color);
  transform: scale(1.25);
  text-shadow: 2px 2px 5px var(--mid);
}

/* HOME */
.home {
  align-items: center;
  background-color: var(--mid);
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 100%;
}

.home h1 {
  font-size: 5rem;
  letter-spacing: 15px;
  margin-bottom: 3rem;
  text-align: center;
  text-shadow: 5px 5px var(--light);
  text-transform: uppercase;
  width: fit-content;
}

.home p {
  color: var(--color);
  font-size: 2rem;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  width: fit-content;
}

.home-links {
  display: flex;
  height: 10vh;
  justify-content: space-around;
  margin-top: 3rem;
  width: 20%;
}

.gh-icon,
.linkedin-icon {
  height: 5rem;
  opacity: 0.8;
  transition: 0.5s;
  width: 5rem;
}

.gh-icon:hover,
.linkedin-icon:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: 0.5s;
}

/* ABOUT */

.about {
  align-items: center;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.about h1 {
  font-size: 3rem;
  height: 6rem;
  margin: 0;
  padding: 3rem 0rem 0rem;
  text-align: center;
}

.about-image {
  border-radius: 150px;
  height: 300px;
  margin-right: 3rem;
  width: 300px;
}

.personal-bio {
  align-items: center;
  background-color: var(--dark);
  color: var(--color);
  display: flex;
  height: fit-content;
  justify-content: space-between;
  padding: 0 25% 3rem;
  width: 100%;
}

.personal-bio p {
  align-self: center;
  width: 60%;
}

.skills-container {
  background-color: var(--mid);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.skills-container h4 {
  color: var(--color);
  text-transform: uppercase;
}

.skill-type {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
  width: 906px;
}

.badge-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 1rem;
  width: 100%;
}

.tech-badge {
  background-color: var(--light);
  border-radius: 3px;
  border: solid 2px var(--color);
  box-shadow: 0px 5px 50px -10px var(--dark);
  color: var(--color);
  height: fit-content;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.25rem;
  padding: 0.5rem;
  width: fit-content;
}

/* PROJECTS CONTAINER */
.projects {
  background-color: var(--color);
  column-gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* min-height: 80vh; */
  padding: 2rem 5rem 5rem;
  row-gap: 3rem;
  width: 100%;
}

.projects-header {
  background-color: var(--color);
  color: var(--dark);
  font-size: 3rem;
  height: 6rem;
  margin: 0;
  padding: 3rem 0rem 0rem;
  text-align: center;
}

/* PROJECT CARDS */
.project-card {
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: 1px 1px 15px var(--dark);
  height: 100%;
  padding: 1rem 0rem;
  width: 100%;
}

.project-card:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.project-title {
  color: var(--color);
  font-size: 2rem;
  text-align: center;
  text-shadow: 2px 2px var(--mid);
}

.project-card p {
  color: var(--dark);
  font-weight: 700;
  height: 15%;
  padding: 1rem;
}

.project-img {
  height: 45%;
}

.link-btn {
  align-items: center;
  background-color: var(--mid);
  border: solid 2px var(--color);
  border-radius: 5px;
  display: flex;
  height: 2.5rem;
  justify-content: center;
  text-align: center;
  width: 35%;
}

.link-btn:hover {
  font-size: 1.5rem;
  background-color: var(--color);
  border-color: var(--mid);
  color: var(--mid);
}

.link-btn-container {
  display: flex;
  padding: 0rem 5rem;
  justify-content: space-around;
}

/* CONTACT */
#contact {
  align-items: center;
  background-color: var(--dark);
  display: flex;
  min-height: 80vh;
  justify-content: center;
  width: 100%;
}

input,
textarea {
  background-color: var(--light);
  border: 2px solid var(--light);
  border-radius: 3px;
  color: var(--color);
  margin-bottom: 1.25rem;
  padding: 0.5rem;
  resize: none;
}

form {
  background-color: var(--mid);
  border-radius: 5px;
  box-shadow: 1px 1px 15px var(--dark);
  padding-top: 2rem;
  max-width: 672px;
}

::placeholder {
  color: var(--color);
}

form h1 {
  color: var(--color);
  font-size: 2rem;
  margin: 0;
  text-align: center;
  text-shadow: 2px 2px var(--light);
}

form div {
  padding: 2rem 2rem 0rem;
}

.submit-btn {
  background-color: var(--light);
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--color);
  font-weight: 700;
  height: 4rem;
  margin: 0;
  width: 100%;
}

.submit-btn:hover {
  background-color: var(--color);
  border-color: var(--color);
  cursor: pointer;
  color: var(--mid);
}

/* FOOTER */
footer {
  align-items: center;
  background-color: var(--mid);
  color: var(--color);
  display: flex;
  height: 20vh;
  justify-content: space-between;
  padding: 2rem;
  width: 100vw;
}

.footer-links {
  display: flex;
  height: 5vh;
  justify-content: space-around;
  width: 10%;
}

.gh-icon-footer,
.linkedin-icon-footer {
  height: 3rem;
  width: 3rem;
}

@media (max-width: 600px) {
  header {
    display: flex;
    height: 15vh;
    flex-direction: column;
    align-items: center;
  }
  nav {
    justify-content: space-between;
    width: 100%;
  }
  nav a {
    margin: 0;
  }
}

@media (max-width: 672px) {
  .project-preview h4 {
    font-size: 2.25rem;
  }
  .project-preview h4:hover {
    font-size: 2.5rem;
  }
}

@media (max-width: 1080px) {
  form {
    width: 70%;
  }
  .personal-bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  .personal-bio p {
    margin-top: 2rem;
    width: 100%;
  }
  .dev-bio p {
    width: 80%;
  }
  .skill-type {
    width: 80%;
  }
  .project-previews {
    width: 80%;
  }
  .project-info {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
  }
  .project-info-left,
  .project-info-right {
    width: 100%;
  }
}
