@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --primary-text: #464866;
  --secondary-text: #25274d;
  --light-bg: #aaabb8;
  --dark-bg: #464866;
  --bright-accent: #2e9cca;
  --dark-accent: #29648a;
  --light: #ffffff;
}

* {
  box-sizing: border-box;
  color: var(--secondary-text);
  font-family: "Montserrat", sans-serif;
  line-height: 1.75;
  padding: 0;
  margin: 0;
  width: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

header {
  align-items: flex-end;
  background-color: var(--dark-bg);
  display: flex;
  font-size: 2rem;
  height: 10vh;
  justify-content: space-between;
  padding: 1.5rem 3rem 1rem;
  width: 100vw;
}

h1,
h4 {
  color: var(--primary-text);
  font-family: "Raleway", sans-serif;
  margin-bottom: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

a {
  border: solid 3px var(--light-bg);
  border-radius: 1000px;
  color: var(--light-bg);
  padding: 0rem 0.5rem;
  text-decoration: none;
  width: fit-content;
}

footer {
  background-color: var(--secondary-text);
  height: 10vh;
}

main {
  align-items: center;
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 80vh;
  width: 100%;
}

/* PROJECTS */
.project-preview {
  background-color: var(--dark-accent);
  border: none;
  border-radius: 5px;
  box-shadow: 3px 3px 25px 3px var(--dark-bg);
  padding: 0;
  width: 100%;
}

.project-preview-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-preview h4 {
  color: var(--light);
  margin-bottom: 0;
  padding: 0.5rem;
  text-align: center;
}

.project-previews {
  align-self: center;
  padding: 2rem 0rem;
  max-width: 1170px;
  width: 100%;
}

.project-previews div {
  height: 10rem;
}

@media screen and (min-width: 768px) {
  .project-previews {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .project-previews {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* ABOUT  */
.about {
  align-content: center;
}

.image {
  background-color: black;
  border: solid 1px black;
  height: 300px;
  margin-right: 3rem;
  width: 300px;
}

.personal-bio-container {
  align-items: center;
  background-color: var(--light-bg);
  display: flex;
  height: 80vh;
  justify-content: center;
  padding: 3rem;
}

.personal-bio {
  display: flex;
  width: 50%;
}

.personal-bio p {
  align-self: center;
  width: 50%;
}

.dev-bio {
  align-items: center;
  background-color: var(--bright-accent);
  display: flex;
  height: fit-content;
  justify-content: center;
  padding: 5rem;
}

.dev-bio p {
  color: var(--light);
  width: 50%;
}

.skills-container {
  background-color: var(--dark-accent);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.skills-container h4 {
  color: var(--light);
  text-transform: uppercase;
}

.skill-type {
  margin: 0.5rem 0;
  width: 50%;
}

.badge-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.tech-badge {
  background-color: var(--secondary-text);
  border-radius: 3px;
  color: var(--light);
  height: fit-content;
  font-size: small;
  margin: 0.25rem;
  padding: 0.5rem;
  width: fit-content;
}

/* SINGLE PROJECT */
.single-project-top {
  text-align: center;
}

.project-info {
  column-gap: 1rem;
  display: flex;
  height: 62vh;
  justify-content: center;
  width: 50%;
}

.project-info-img {
  border-radius: 5px;
}

.project-info-left {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.project-info-right {
  width: 50%;
}

.link-btn-container {
  display: flex;
  justify-content: center;
}

.link-btn {
  background-color: var(--secondary-text);
  border-radius: 5px;
  border: 0;
  color: var(--light);
  margin: 0.25rem;
  padding: 0.5rem;
  width: fit-content;
}

/* CONTACT */
input,
textarea {
  background-color: var(--light);
  border: 2px solid var(--dark-accent);
  border-radius: 3px;
  margin-bottom: 1.25rem;
  padding: 0.5rem;
}

form {
  background-color: var(--light);
  border-radius: 5px;
  box-shadow: 3px 3px 25px 3px var(--light-bg);
  width: 35%;
}

form h1 {
  margin: 0;
  text-align: center;
}

form div {
  padding: 0rem 2rem;
}

.submit-btn {
  background-color: var(--dark-accent);
  border-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--light);
  height: 4rem;
  margin: 0;
  width: 100%;
}
